/* @font-face {
    font-family: "Muringa";
    src:url('/font/muringa.ttf') format('ttf'),
        url('/font/ffonts.net.htm');
    font-weight: normal;
    font-style: normal;
} */

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }  

* {
    font-family: "Roboto";

    margin: 0px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: rgb(25, 24, 24);
    color: white;
}
/* Putting the nav on the edges with display flex and space between */
header nav {
    display: flex;
    justify-content: space-between;

    padding: 10px 0px;
    margin: auto;
}

header nav div.left {
    font-family: "Muringa", sans-serif;
    font-weight: 700;
    font-size: 1.7rem;

    padding-top: 24px;
}

header nav div.left a.head {
    font: bolder;
    font-size: 2rem;
}

header nav div.right {
    display: flex;

    padding-top: 24px;

    gap: 16px;
}

header nav div a.head {
    text-decoration: none;
    color: lightgray;
}

header nav a.head:hover {
    color: white;
}

section h1 {
    font-size: 3rem;
    margin: 0px;
    margin-top: 35px;
}

header p {
    margin: 0px;
    color: #909090;
    padding: 10px;
}

main section {
    padding-top: 16px;
}

main section a {
    display: block;
    text-decoration: none;
    padding-bottom: 8px;
    
    border-top: 1px solid rgb(115, 115, 115); 
}

main section article p {
    font-size: 1rem;
    padding: 7px 0px;
}

main section article data {
    font-size: .875rem;
    font-weight: lighter;

    padding: 2px 0px;

    color: rgb(115, 115, 115);
    display: block;
}

main .sub:first-child a {
    border-top: none;
}

main section a:hover p,
main section a:hover data {
    color: white;
}

footer p{
    color: #878787;
    
    padding: 50px;
    margin: auto;
}