@font-face {
    font-family: 'Hello';
    src: url('/font/webfonts_Hello-Prawita/Hello-Prawita.ttf.woff') format('woff'),
        url('/font/webfonts_Hello-Prawita/Hello-Prawita.ttf.eot'),
        url('/font/webfonts_Hello-Prawita/Hello-Prawita.ttf.svg') format('svg'),
        url('/font/webfonts_Hello-Prawita/webfonts.ffonts.net.htm');
        font-weight: normal;
        font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }  

* {
    font-family: "Roboto";

    padding: 0%;
    margin: 0%;
    background-color: rgb(25, 24, 24);
    color: white;
}
/* Putting the nav on the edges with display flex and space between */
header nav {
    display: flex;
    justify-content: space-between;

    padding: 10px;
    margin: auto;
}

header nav div.left {
    font-family: 'Hello';
    font-weight: 700;
    font-size: 1.7rem;

    padding-top: 24px;
    padding-left: 10px;
}

header nav div.left a {
    font: bolder;
}

header nav div.right {
    display: flex;

    padding-top: 24px;
    padding-right: 10px;

    gap: 16px;
}

header nav div a {
    text-decoration: none;
    color: lightgray;
}

header nav a:hover {
    color: white;
    text-decoration: ;
}