.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

* {
    font-family: "Poppins";

    padding: 0%;
    margin: 0%;
    background-color: rgb(25, 24, 24);
    color: white;
}

header nav {
    display: flex;
    justify-content: space-between;

    padding: 10px;
    margin: auto;
}

header nav div.left {
    padding-top: 24px;
    padding-left: 10px;
}

header nav div.right {
    display: flex;

    padding-top: 24px;
    padding-right: 10px;

    gap: 16px;
}

header nav div a {
    text-decoration: none;
    color: lightgray;
}

header nav a:hover {
    color: white;
    text-decoration: ;
}